service: crud-services

frameworkVersion: ">=3 <4"

provider:
  name: aws
  runtime: nodejs20.x
  profile: ${self:custom.profiles.${self:provider.stage}, ''}
  stage: ${opt:stage, 'dev'}
  apiGateway:
    apiKeys:
      - crud-services-apikey
  environment:
    NODE_ENV: production
  iam:
    role:
      statements:
        - Effect: Allow
          Action: "dynamodb:*"
          Resource: !GetAtt usersTable.Arn

plugins:
  - serverless-esbuild
  - serverless-offline
  - serverless-dynamodb

package:
  individually: true
  patterns:
    - "!*/**"

layers:
  base:
    name: "crud-prod-dependencies"
    compatibleRuntimes:
      - "nodejs20.x"
      - "nodejs22.x"
    package:
      artifact: nodejs.zip

custom:
  customAuthorizer: ${ssm:/aws/reference/secretsmanager/crud-api-security}
  esbuild:
    minify: true
    bundle: true
    platform: node
    target: node20
    external:
      - sharp
  profiles:
    dev: "personal"
    prod: ""
  dynamodb:
    # If you only want to use DynamoDB Local in some stages, declare them here
    stages:
      - dev
    start:
      port: 8000
      inMemory: true
      migrate: true

functions:
  custom-authorizer:
    environment:
      JWT: ${self:custom.customAuthorizer.JWT}
    handler: src/functions/authorizer/handler.handler
  hello-world:
    handler: src/functions/handler.handler
    events:
      - http:
          path: hello-world
          method: GET

  find-user-id:
    handler: src/functions/users/find-id.getUser
    events:
      - http:
          path: users/{id}
          method: GET
          request:
            parameters:
              paths:
                id: true
  get-users:
    handler: src/functions/users/get.getUsers
    events:
      - http:
          private: true
          path: users
          method: GET
  create-users:
    handler: src/functions/users/create.createUsers
    events:
      - http:
          authorizer:
            name: custom-authorizer
            resultTtlInSeconds: 15
          path: users
          method: POST
          request:
            schemas:
              application/json: ${file(schemas/user-schema.json)}
  update-users:
    handler: src/functions/users/update.updateUsers
    events:
      - http:
          path: users/{id}
          method: PUT
          request:
            parameters:
              paths:
                id: true
            schemas:
              application/json: ${file(schemas/user-schema.json)}
  delete-users:
    handler: src/functions/users/delete.deleteUsers
    events:
      - http:
          path: users/{id}
          method: DELETE
          request:
            parameters:
              paths:
                id: true
  signedUrl:
    iamRoleStatements:
      - Effect: Allow
        Action:
          - "s3:ListBucket"
          - "s3:PutObject"
        Resource:
          - !Sub "${PublicAssetsBucket.Arn}/*"
    handler: src/functions/signed-url/handler.handler
    environment:
      BUCKET: !Ref PublicAssetsBucket
    package:
      patterns:
        - "signedurl/handler.ts"
    events:
      - http:
          path: signedurl
          method: GET
          request:
            parameters:
              querystrings:
                filename: true
  thumbGenerator:
    handler: src/functions/thumbnail/handler.handler
    architecture: arm64
    layers:
      - { Ref: BaseLambdaLayer }
    events:
      - s3:
          bucket: !Ref PublicAssetsBucket
          event: s3:ObjectCreated:*
          existing: true
          rules:
            - prefix: upload/
resources:
  Resources:
    usersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: users
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    PublicAssetsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: crud-serverless-bcanon-${self:provider.stage}
        PublicAccessBlockConfiguration:
          BlockPublicAcls: false
          BlockPublicPolicy: false
          IgnorePublicAcls: false
          RestrictPublicBuckets: false
        OwnershipControls:
          Rules:
            - ObjectOwnership: BucketOwnerPreferred
    PublicAssetsBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: !Ref PublicAssetsBucket
        PolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Sid: PublicReadGetObject
              Effect: Allow
              Principal: "*"
              Action:
                - s3:GetObject
                - s3:PutObject
              Resource:
                - !Sub "${PublicAssetsBucket.Arn}/*"
